<h1>Welcome to ANIMAL TRACKER 3000.  Get ready to hunt some aminals.</h1>
<% if @animals.present? %>
    <% @animals.all.each do |animal| %>
        Common Name: <%= animal.id%> <%= animal.name %>.  Latin Name: <%= animal.latin_name %>.  Kingdom: <%= animal.kingdom %> 
        <%= link_to "Update", edit_animal_path(animal) %> <%= link_to "Delete", animal_path(animal), method: :delete %>
        <%= link_to "Sightings", sighting_path(animal), method: :get %><br/>
    <%end%>
<%end%>

<form action="/animals/new" method="get">
    <input type="submit" value="Add Animal" />
</form>