<h1>Add New Animal</h1>

<%= form_for @animal do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> </br>

<%= f.label :latin_name %>
<%= f.text_field :latin_name %> </br>

<%= f.label :kingdom %>
<%= f.text_field :kingdom %> </br>

<%= f.submit %>
<% end %>